{% extends "admin.layouts.app" %}

{% block title %}Просмотр запросов{% endblock %}
{% block content %}

    <h1>Просмотр запросов</h1>

    <div class="well well-sm">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="query" class="form-control"  placeholder="...">
            </div>
            <button type="submit" class="btn btn-default">Найти</button>
        </form>
    </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>!</th>
                <th>Запрос</th>
                <th>Производитель</th>
                <th>Модификация</th>
                <th>Запчасть</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.confirmed }}</td>
                <td>{{ item.text }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {{ list.render() | raw }}

{% endblock %}