{% extends "admin.layouts.app" %}

{% block title %}Список загруженных файлов{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>Список загруженных файлов</h1>
        </div>
        <div class="col-md-3 text-right" style="margin-top: 30px">
            <a href="{{ route('admin_files_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Добавить файл</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            {% if list.total > 0 %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя файла</th>
                        <th>Загруженно</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.queries.count() }}</td>
                            <td><a href="{{ route('admin_files_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {{ list.render() | raw }}
            {% else %}
                <div class="alert alert-info">Нет загруженных файлов</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

